<form class="form-horizontal" style="padding: 2%">
    <div class="well">
        <ul>
            <li ng-repeat="item in messages">
                <div>
                    <div class="comment-container">
                        <b class="h3" ng-bind="item.author"></b> <br />
                        <b class="h4" ng-bind="item.text"></b>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="well" align="right">
        <textarea ng-model="Message" class="form-control" style="width: 100%; resize: vertical; margin-bottom: 1%" placeholder="Type your message here..."></textarea>
        <button class="btn btn-info" ng-click="AddMessage()">Send Message</button>
    </div>
</form>
